.container {
    margin-top: 100px;
    height: 100vh;
}

.order-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.order-info2 {
    width: 100%;
}

.product-info {
    
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 10px 0 10px 0;
}

.columns-info .total-info{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.columns-info img {
    width: 100px;
}

.btn p {
    font-size: 20px;
    color: #f0f0f0;
}

.card-header {
    background-color: #404040;
}

.card-body {
    margin: 5px 0 0 0;
    
}

.order-info-header {
    background-color: #404040;
    height: 60px;
    padding-top: 8px;
    
}

.order-info-header h3 {
    color: white;
    font-weight: 500;
    margin-top: 5px;
}

.card-header:hover {
    background-color: #505050;
}

.btn {
    border-radius: 0;
    text-decoration: none;
}

.card {
    border-radius: 0;
}

.input-group-addon {
    border-radius: 0;
    width: 40px;
    background-color: #404040;
    color: white;
    border: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-wrapper, #contact-us .contact-form, #contact-us .our-address {
    color: #1d1d1d;
    font-size: 19px;
    padding: 50px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

::placeholder {
    color: #40404086;
    font-size: 16px;
}

.inputpadding {
    padding: 0 0 5px 10px;
}

.checkout-information {
    display: grid;
}

.checkout-information img {
    width: 100px;
}

.checkout-information label, input {
    margin: 0;
    padding: 0;
}

.checkout-border {
    border-bottom: 1px #cfcfcf solid;
}

.paymentWrap .paymentBtnGroup .paymentMethod {
    padding: 24.5px 30px;
    box-shadow: none;
    position: relative;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paymentWrap .paymentBtnGroup .paymentMethod.active {
    outline: none !important;
}

.paymentWrap .paymentBtnGroup .paymentMethod.active .method {
    border-color: #7a7a7a;
    outline: none !important;
    box-shadow: -1px 1px 5px 0px rgba(119, 119, 119, 0.75);
}

.paymentWrap .paymentBtnGroup .paymentMethod .method {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    left: 3px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    transition: all 0.5s;
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.postnord {
    background-image: url("../../assets/postnord_logo.png");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.dhl {
    background-image: url("../../assets/dhl-logo.jpg");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.fedex {
    background-image: url("../../assets/fedex-logo.jpg");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.mastercard {
    background-image: url("../../assets/mastercard-logo.jpg");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.paypal {
    background-image: url("../../assets/paypal-logo.jpg");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.swish {
    background-image: url("../../assets/swish-logo.png");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method:hover {
    border-color: #7a7a7a;
    outline: none !important;
}

.buy-btn {
    border-radius: 0;
    border: 1px solid #f0f0f0;
    color: #f0f0f0;
    background-color: #404040;
    font-weight: 600;
}

.buy-btn:hover {
    border: 1px solid #aaaaaa;
    background-color: #7a7a7a;
    text-decoration: none;
}

.card {
    margin: 0;
}

@media (max-width: 575.98px) {
    .order-info-margin {
       margin-top: 20px;
    }
    .footermargin {
        margin-top: 550px;
    }
}