<footer class="pb-4 pt-5" id="footer-section">

  <div class="social-links d-flex justify-content-center mb-5">
    <a routerLink="#" class="link mr-3 d-inline d-flex justify-content-center">
        <i class="social-link fab fa-facebook-f"></i>
    </a>

    <a routerLink="#" class="link mr-3 d-inline d-flex justify-content-center">
        <i class="social-link fab fa-twitter"></i>
    </a>

    <a routerLink="#" class="link mr-3 d-inline d-flex justify-content-center">
        <i class="social-link fab fa-youtube"></i>
    </a>

    <a routerLink="#" class="link mr-3 d-inline d-flex justify-content-center">
        <i class="social-link fab fa-instagram"></i>
    </a>
  </div>
  
  <div class="row">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <ul class="footer-list">
        <h5 class="mb-4"> Products</h5>
        <li><i class="fas fa-angle-right"></i> Prices drops</li>
        <li><i class="fas fa-angle-right"></i> New products</li>
        <li><i class="fas fa-angle-right"></i> Best sales</li>
      </ul>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <ul class="footer-list">
        <h5 class="mb-4"> Our company</h5>
        <li><i class="fas fa-angle-right"></i> Terms and conditions of use</li>
        <li><i class="fas fa-angle-right"></i> About us</li>
        <li><i class="fas fa-angle-right"></i> Secure payment</li>
        <li><i class="fas fa-angle-right"></i> Contact us</li>
        <li><i class="fas fa-angle-right"></i> Sitemap</li>
        <li><i class="fas fa-angle-right"></i> Stores</li>
      </ul>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <ul class="footer-list">
        <h5 class="mb-4"> Your account</h5>
        <li><i class="fas fa-angle-right"></i> Personal info</li>
        <li><i class="fas fa-angle-right"></i> Orders</li>
        <li><i class="fas fa-angle-right"></i> Credit slips</li>
        <li><i class="fas fa-angle-right"></i> Adresses</li>
      </ul>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

      <ul class="footer-list">
        <h5 class="mb-4"> Store information</h5>
        <p>bigPhoney</p>
        <p>Kodningsgatan 1</p>
        <p>123 45 Västerås</p>
        <p>Sverige</p>
        <li><i class="fas fa-phone mt-3"></i> Call us: 077 - 123 123 12</li>
        <li><i class="fas fa-envelope mt-3"></i> Email us: support@bigphoney.se</li>

      </ul>

    </div>

  </div>

</footer>