<div class="demo">
  <div class="container">
    <h3 class="h3 mt-5 text-center mb-5">LATEST NEWS</h3>
    <div class="row">
      <div class="col-md-12">
        <div id="news-slider2" class="owl-carousel">
          <div class="post-slide2">
            <div class="post-img">
              <img src="../../assets/silders/pexels-photo-607812.jpeg" class="card-img-top" alt="..." />
            </div>
            <div class="post-content">
              <h3 class="post-title"><a href="#">Latest News Post</a></h3>
              <p class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula
                gravida dolor, ac efficitur sem sagittis.
              </p>
              <ul class="post-bar">
                <button class="read-more">read more &raquo;</button>
              </ul>

            </div>
          </div>

          <div class="post-slide2">
            <div class="post-img">
              <img src="../../assets/silders/pexels-photo-870903.jpeg" class="card-img-top" alt="..." />
            </div>
            <div class="post-content">
              <h3 class="post-title"><a href="#">Latest News Post</a></h3>
              <p class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula
                gravida dolor, ac efficitur sem sagittis.
              </p>
              <ul class="post-bar">
                <button class="read-more">read more &raquo;</button>
              </ul>
            </div>
          </div>

          <div class="post-slide2">
            <div class="post-img">
              <img src="../../assets/silders/pexels-photo-887751.jpeg" class="card-img-top" alt="..." />
            </div>
            <div class="post-content">
              <h3 class="post-title"><a href="#">Latest News Post</a></h3>
              <p class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula
                gravida dolor, ac efficitur sem sagittis.
              </p>
              <ul class="post-bar">
                <button class="read-more">read more &raquo;</button>
              </ul>
            </div>
          </div>

          <div class="post-slide2">
            <div class="post-img">
              <img src="../../assets/silders/cellphone-device-electronics-699122 (1).png" class="card-img-top"
                alt="..." />
            </div>
            <div class="post-content">
              <h3 class="post-title"><a href="#">Latest News Post</a></h3>
              <p class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula
                gravida dolor, ac efficitur sem sagittis.
              </p>

              <ul class="post-bar">
                <button class="read-more">read more &raquo;</button>
              </ul>
            </div>
          </div>

          <div class="post-slide2">
            <div class="post-img">
              <img src="../../assets/silders/apple-hand-iphone-34407.jpg" class="card-img-top" alt="..." />
            </div>
            <div class="post-content">
              <h3 class="post-title"><a href="#">Latest News Post</a></h3>
              <p class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula
                gravida dolor, ac efficitur sem sagittis.
              </p>

              <ul class="post-bar">
                <button class="read-more">read more &raquo;</button>
              </ul>
            </div>
          </div>

          <div class="post-slide2">
            <div class="post-img">
              <img src="../../assets/silders/airpods-apple-cellphone-788946.png" class="card-img-top" alt="..." />
            </div>
            <div class="post-content">
              <h3 class="post-title"><a href="#">Latest News Post</a></h3>
              <p class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula
                gravida dolor, ac efficitur sem sagittis.
              </p>

              <ul class="post-bar">
                <button class="read-more">read more &raquo;</button>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

