@import "../../colors";



$main-size: 30px;
$my-color: brown;

.font-size {
    font-size: $main-size;
    margin: 30px;
    padding-top: 10px;
}


.carousel-inner {
    h5 {
        span{
            color: $my-color;
        }
    }
}