<div class="container">
  <div class="order-info">
    <h1>Thank you!</h1>
    <p>Your order has been submitted.</p>
    <p>You will receive a shipping confirmation with the tracking number once the order has been processed.</p>
    <div class="order-info2">
      <div class="row text-center product-info">
        <div class="col"><strong>Product</strong></div>
        <div class="col"><strong>Product name</strong></div>
        <div class="col"><strong>Product price</strong></div>
      </div>
      <div class="row columns-info">
        <div class="col"><img src="../../assets/iphone-11-pro-max-midnight-green-select-2019.png" alt=""></div>
        <div class="col">iPhone 11 Pro Max Midnight Green</div>
        <div class="col">$1099</div>
      </div>
      <button class="btn btn-back mt-5">&laquo; Go Back</button>
    </div>
  </div>



</div>