@import "../../colors";

.showcase {
  background-image: url(../../assets/images/showcase_background.jpg);
  height: 650px;
  position: relative;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: $white;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: $white;
}

.carousel-control-icon {
  background: none !important;
  outline: 0;
  z-index: 0;
}

.carousel .carousel-control-icon {
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.carousel:hover .carousel-control-icon {
  opacity: 1;
}

.carousel-caption {
  width: 200px;
  z-index: 10;
  color: $white;
  text-align: center;
  top: 50%;
  bottom: auto;
  transform: translate(50%, -40%);
}

.showcase-btn {
  border-radius: 0;
  border: 1px solid $white;
  color: $white;
}

.showcase-btn:hover {
  border: 1px solid $light-gray;
  background: rgb(2, 0, 36);
  background: linear-gradient(300deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

.carousel-item {
  z-index: 0;
}

@media (max-width: 575.98px) {
  .showcase {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .showcase {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .showcase {
    height: 400px;
  }
}

@media (max-width: 1199.98px) {
  .showcase {
    height: 500px;
  }
}
