<app-navigation></app-navigation>
<div class="container mt-5 ">
  <div class="mb-4 pt-5">
    <h1 class="text-center ">ABOUT US</h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="">
        <div class="card-body">
          <h3 class="card-title ml-5">Special title treatment</h3>
          <p class="card-text">We constantly through courses,
            lectures and training from our partners. We are a certified partner
            both at. You can easily reach us or call one of ours directly
            wonderful colleagues, direct numbers you will find below. </p>
          <div class="panel-group" id="accordion">
            <div class="panel panel-info">
              <p class="collapse" id="block-id">
                The panel content comes here where
                you may use text, images and even videos. You may also place HTML tables,
                list etc here.</p>
              <a href="#block-id" class=" " data-toggle="collapse" aria-expanded="false"
                aria-controls="block-id">

                <span class="collapsed">
                  Show more...
                </span>
                <span class="expanded">
                  Show Less
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="card-body">
          <h3 class="card-title ml-5">Special title treatment</h3>
          <p class="card-text">We are a team dedicated to our customers
            success. Everyone at Ampilio has long experience from marketing,
            digitizing. Most of us have had previous careers with our suppliers and others
            large media houses. Thanks to our knowledge, we also hold trainings and lectures
            for schools, companies and organizations ..</p>
          <div class="panel-group" id="accordion"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="">
        <div class="card-body" style="text-align:center;">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to
            additional content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, alias
            provident aperiam tenetur error sed possimus fuga vel nostrum veritatis. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Deserunt ea ut atque! Similique optio
            sapiente exercitationem temporibus iste. Quis, quia?</p>
        </div>
      </div>
    </div>
  </div><br>
</div>
<app-footer></app-footer>







<!-- <style>
  [aria-expanded="false"]>.expanded,
  [aria-expanded="true"]>.collapsed {
    display: none;
  }

</style> -->