
.collage-size {
    width: 100%;
}

.row {

}

.col-sm-4 {

}

.collage {
    height: 470px; /* [1.1] Set it as per your need */
    overflow: hidden;
}

.collage img {
    transition: transform 5s ease;

  }
  .collage-text h1 {
    transition: transform 5s ease;
    opacity: 0;
  }

  .collage-text:hover h1 {
    opacity: 1;
}

.collage:hover img {
    transform: scale(1.5);
}

.collage-text h1 {
    color: aqua; 
}

.collage-text:hover {

}