<div class="container-fluid mt-3 collage">
  <div class="row">
    <div class="col-sm-4 ">
      
      <a><img class="collage-size mb-3" src="../../assets/iphone-11-pro-gallery-2019-1.jpg" alt=""></a>
      <a><img class="collage-size" src="../../assets/iphone-11-pro-gallery-2019-3.jpg" alt=""></a>

    </div>
    <div class="col-sm-4 " style="margin: 0; padding:0;">
      <video width="100%" loop autoplay >
        <source src="../../assets/New video6.mp4" type="video/mp4">
      </video>
      <!-- <img class="collage-size" src="../../assets/iphone-11-pro-gallery-2019-3copy.jpg" alt="">
    <div class="collage-text">
      <h1>asdsada</h1>
    </div> -->
    </div>
    <div class="col-sm-4 ">
      <img class="collage-size mb-3 mx-0" src="../../assets/iphone-11-pro-gallery-2019-4.jpg" alt="">
      <img class="collage-size " src="../../assets/iphone-11-pro-gallery-2019-5.jpg" alt="">

    </div>
  </div>
</div>
