<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Login</h3>
			</div>
			<div class="card-body">
				<form [formGroup]="loginForm" (ngSubmit)="login()">
						<div class="container section ">
								<div class="row">
									<div class="input-field col s6 section">
											<label for="email">Email:</label><br>
										<input [ngClass]="{ 'has-error' : isSubmitted && formControls.email.errors }" formControlName="email"
											id="email" type="email" class="validate" placeholder="Abdulrazaq@example">
										
										<span class="helper-text" data-error="Incorrect email address!">
											<div *ngIf="isSubmitted && formControls.email.errors" class="text-danger">
												<div *ngIf="formControls.email.errors.required">
													Email address is required!
												</div>
											</div>
										</span>
									</div>
								</div>
						
								<div class="row">
									<div class="input-field col s6">
											<label for="password">Password</label><br>
										<input [ngClass]="{ 'has-error' : isSubmitted && formControls.password.errors }"
											formControlName="password" id="password" type="password" class="validate" placeholder="Password">
										
										<span class="helper-text">
											<div *ngIf="isSubmitted && formControls.password.errors" class="text-danger">
												<div *ngIf="formControls.password.errors.required">
													Password is required!
												</div>
											</div>
										</span>
									</div>
								</div><br>
						
								<button class="btn waves-effect waves-light submit blue-grey" type="submit" value="Login">Login
									
								</button>
						
							</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="../../app/register/register.component.html">Register</a>
				</div>
				<div class="d-flex justify-content-center links">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
	
</div> 
<app-footer></app-footer>



