@import "../../colors";

img {
  width: 50px;
}

.container {
  margin-top: 150px;
}

.btn {
  border-radius: 0;
  border: 1px solid $white;
  color: $white;
  background-color: #404040;
  font-weight: 600;
}

.btn:hover {
  border: 1px solid $light-gray;
  background-color: #7a7a7a;
  text-decoration: none;
}

@media (max-width: 575.98px) {
  a i {
   display: none;
  }
}