.workside {
  background-color: #263238;
  margin-top: 0%;
  padding-top: 0%;
}

.workside a {
  color: #f0f0f0;
}

.logo-image {
  width: 90px;
}
  
  .search {
    position: flex;
    margin-left: -25%;
  }

li {
  width:80px;
}

  #header {
     animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-top: 0px;
    }

    25% {
      margin-top: 100px !important;
    }

    /* ignored */
    to {
      margin-top: 50px
    }
  }

  .navbar {
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }

   @keyframes slidein {
  from {
    margin-top:-100px;
  
  }
  
  to {
    margin-top:0%;
    
  }
} 
a.hover-color:hover,
 a.hover-color:active {
   font-size: 105%;
   color:rgb(135, 135, 233);
   transition: 0.65s;
   
  }