<section id="newsletter-section">

  <div class="newsletter-title text-center">
    <h1 class="pt-4 pb-3"><i class="far fa-envelope"></i>NEWSLETTER</h1>
    <p class="pb-0 mb-2">Get our latest news and special sales</p>
  </div>

  <div class="d-flex justify-content-center pt-0 mt-0 pb-3">
    <form  class="newsletter-form">
      <div class="col-auto form-row align-items-center">
        <div class="input-group mb-3 mt-3">
          <input type="email" class="form-control" id="newsletter" placeholder="Email address">

          <div class="input-group-prepend">
            <div class="input-group"><input class="subscribe" type="submit" value="SUBSCRIBE"></div>
          </div>

        </div>
      </div>
    </form>
  </div>

</section>