@import '../colors';

#newsletter-section {

    box-sizing: border-box;
    margin-top: 50px;
    background: #404040;
    color: $white;

    .newsletter-title {

        h1 {
            font-size: 2rem;
            letter-spacing: 9px;
            font-weight: 400;
        }

    }

    form {
        .form-control {
            border-radius: 0;
        }
        .subscribe {
            padding: 0 10px;
            background: transparent;
            border: 1px solid $white;
            color: $white;
            border-radius: 0;
            transition: ease-in-out .05s;
        }
        .subscribe:hover {
            background: rgb(170, 170, 170);
            border: 1px solid rgb(170, 170, 170);
        }
    }

}

@media only screen and (max-width: 576px) {
    form {
        min-width: 370px;
    }
}

@media only screen and (min-width: 576px) {
    form {
        min-width: 500px;
    }
}

@media only screen and (min-width: 768px) {
    form {
        min-width: 700px;
    }
}