<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 col d-flex justify-content-center">
      <div id="phoneimg"></div>
    </div>
    <div class="col-md-6 col text-center">
      <h1>iPhone 11 Pro Max</h1>
      <div class="row mt-4 justify-content-center">
        <div class="col-4 col-md col-lg-4 col-xl-4">
          <p style="font-size: 24px; margin: 0; padding: 0; float: left;">$1099</p>
        </div>
        <div class="col-2 col-md col-lg-2 col-xl-2">

            <select name="color_scheme" id="color_scheme">
                <option selected="selected">Default</option>
                <option>Black</option>
                <option>Blue</option>
                <option>Brown</option>
                <option>Green</option>
                <option>Gray</option>
                <option>Lime</option>
                <option>Orange</option>
              </select>
              <span class="Default">Some text here</span>

          <!-- <div class="dropdown">
            <a class="btn btn-transparent border dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Color
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href=" ">Gold</a>
              <a class="dropdown-item" href="#">Space Gray</a>
              <a class="dropdown-item" href="#">Silver</a>
              <a class="dropdown-item" href="#">Midnight Green</a>

            </div>
          </div> -->
        </div>
        <div class="col-2 col-md col-lg-4 col-xl-2">
          <button style="width: 100px;" class="btn btn-primary">BUY <i class="fas fa-shopping-cart"></i></button>
        </div>

      </div>
    </div>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="productinfo-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">Productinformation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="specs-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">Specs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="review-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
        aria-selected="false">Reviews</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Featuring a Stunning Pro
      Display, A13 Bionic, Cutting-Edge Pro Camera System<br>and Longest Battery Life Ever in iPhone with iPhone 11 Pro Max

    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      Super Retina XDR display<br>
      6.5‑inch (diagonal) all‑screen OLED Multi‑Touch display<br>
      HDR display<br>
      2688‑by‑1242-pixel resolution at 458 ppi<br>
      2,000,000:1 contrast ratio (typical)</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      5 stars
    </div>
  </div>

</div>


<script>
var selectedScheme = 'Default';

$('#color_scheme').change(function(){
    $('span').removeClass(selectedScheme).addClass($(this).val());
    selectedScheme = $(this).val();
});

</script>