<div class="container ">
  <h3 class="h2 m-5 text-center">POPULAR</h3>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2">
          <a href="#">
            <img class="pic-1" src="../../assets/iphonexrblack.png">

          </a>
          <a class="add-to-cart" href="">Add to cart</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">iPhone XR</a></h3>
          <span class="price">$599</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2">
          <a href="#">
            <img class="pic-1" src="../../assets/iphone11.png">

          </a>
          <a class="add-to-cart" href="">Add to cart</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">iPhone 11</a></h3>
          <span class="price">$999</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2">
          <a routerLink="/product-info">
            <img class="pic-1" src="../../assets/MWYK2.png">
          </a>
          
          <a class="add-to-cart" href="">Add to cart</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a routerLink="/product-info">iPhone 11 Pro Max</a></h3>
          <span class="price">$1099</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2">
          <a href="#">
            <img class="pic-1" src="../../assets/iphone8.png">
          </a>
          <a class="add-to-cart" href="">Add to cart</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">iPhone 8</a></h3>
          <span class="price">$499</span>
        </div>
      </div>
    </div>
  </div>

</div>