.demo {
  padding: 45px 0;
}

.product-grid2 {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.product-grid2 .product-image2 {
  overflow: hidden;
  position: relative;
}

.product-grid2 .product-image2 a {
  display: block;
}

.product-grid2 .product-image2 img {
  width: 100%;
  height: auto;
}

.product-image2 .pic-1 {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.product-grid2 .social {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 50px;
  right: 25px;
  z-index: 1;
}

.product-grid2 .social li {
  margin: 0 0 10px;
  display: block;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.product-grid2:hover .social li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.product-grid2:hover .social li:nth-child(2) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.product-grid2:hover .social li:nth-child(3) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.product-grid2 .social li a {
  color: #505050;
  background-color: #fff;
  font-size: 17px;
  line-height: 45px;
  text-align: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-grid2 .social li a:hover {
  color: #fff;
  background-color: #3498db;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product-grid2 .social li a:after,
.product-grid2 .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  line-height: 22px;
  border-radius: 3px;
  padding: 0 5px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
}

.product-grid2 .social li a:after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 0;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  top: -22px;
  z-index: -1;
}

.product-grid2 .social li a:hover:after,
.product-grid2 .social li a:hover:before {
  opacity: 1;
}

.product-grid2 .add-to-cart {
  color: #fff;
  background-color: #404040;
  font-size: 15px;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  display: block;
  position: absolute;
  left: 0;
  bottom: -100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product-grid2 .add-to-cart:hover {
  background-color: #7a7a7a;
  text-decoration: none;
}

.product-grid2:hover .add-to-cart {
  bottom: 0;
}

.product-grid2 .product-new-label {
  background-color: #7a7a7a;
  color: #fff;
  font-size: 17px;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product-grid2:hover .product-new-label {
  opacity: 0;
}

.product-grid2 .product-content {
  padding: 20px 10px;
  text-align: center;
}

.product-grid2 .title {
  font-size: 17px;
  margin: 0 0 7px;
}

.product-grid2 .title a {
  color: #303030;
}

.product-grid2 .title a:hover {
  color: #7a7a7a;
}

.product-grid2 .price {
  color: #303030;
  font-size: 15px;
}

@media (max-width: 575.98px) {
  .product-grid2 .product-image2 .add-to-cart {
    display: none;
  }
  .container .h2 {
    padding-top: 50px;
  }
}

@media (max-width: 720px) {
  .product-grid2 .product-image2 .add-to-cart {
    display: none;
  }
  .container .h2 {
    padding-top: 50px;
  }
}

@media screen and (max-width: 990px) {
  .product-grid2 {
    margin-bottom: 30px;
  }
  .container .h2 {
    padding-top: 50px;
  }
}

@media (min-width: 991.98px) {
  .product-grid2 .add-to-cart {
    color: #fff;
    background-color: #404040;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .product-grid2 .add-to-cart:hover {
    background-color: #7a7a7a;
    text-decoration: none;
  }
}
/*# sourceMappingURL=popular-products.component.css.map */