@import "../../colors";


.fa-shopping-cart {
  font-size: 25px;
}

.workside {
  background-color: #181a1bc5;
  margin-top: 0%;
  padding-top: 0%;
  height: 75px;
}

.workside a {
  color: #f0f0f0;
}

.logo-image {
  width: 50px;
  height: 50px;
}


li {
  margin-left: 20px;
}

a.hover-color:hover,
a.hover-color:active {
  color: #7a7b7c;
  transition: 0.15s;
}

form {
  input {
    background-color: #9696967c; 
    color: white;
    
  }
  button {
    i {
      border: 0px;
    }
  }
}
::placeholder {
  color: white;
  opacity: 1;
}
